* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  min-height: 600px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #324f4d;
  padding: 10px;
  transition: 0.3s;
}

.navbar {
  display: flex;
}

.navbar a {
  font-family: "Lato", sans-serif;
  color: #f5c9c6;
  display: block;
  font-size: 1.2rem;
  padding: 10px 30px;
  font-weight: 500;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.705);
  transition: 0.3s;
}

section {
  padding: 120px 14%;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
  background-image: url(bg.png);
  background-attachment: fixed;
  
}

@keyframes wordsmove {
  from {left: -300px;}
  to {left: 60px;}
}

.landing-text{
  position: relative;
  animation: wordsmove 3s ;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.landing-text p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0 0 20px;
  color: #fadad8;
}

.landing-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #fadad8;
}
.landing-text h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin: 0 0 20px;
  color: #fadad8;
}

.landing-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 500px;
}

.works {
  background: #bb6765;
}

.works h2 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #f5c9c6;
  padding: 50px 600px;
  text-align: center;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: rgba(192, 192, 192, 0.6);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  color: #324f4d;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #324f4d;
}

@media only screen and (max-width: 600px) {
  .landing {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 80px;
    height: 100%;
  }
  .landing-text p {
    max-width: 100%;
  }
}
