* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
 
}

body {
  background-image: url(bg.png);
  min-height: 600px;
  animation-name: change-bg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.navbar img {
  position: relative;
  width: 100px;
  padding: 10px;
}



@keyframes change-bg {
from {background-image: url(bg.png);}
to {background-image: url(B.png);}
}

.text{
 width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.text h1{
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: #bb6765;
  margin-bottom: 40px;

}


.text p{
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  color: #fadad8;
  margin-top: 20px;
  line-height: 30px;
  background-color: #bb6765;
  

}

@media only screen and (max-width: 600px) {

  .text{
    text-align: center;
    height: 100%;
  }

  .text p{
    font-size: 20px;
  }

  .text h1{
    font-size: 28px;
  }

  .navbar img{
    width: 80px;
  }
  
}

