* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  border-color: transparent;
}

body {
  background-image: url(bg.png);
  min-height: 600px;
  animation-name: change-bg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes change-bg {
  from {background-image: url(bg.png);}
  to {background-image: url(B.png);}
  }
  
  .navbar img {
    position: relative;
    width: 80px;
    padding: 10px;
  }

.clanding h1 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #bb6765;
  text-align: center;
  margin-top: 10px;
}

.links {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 100px;
  margin-top: 100px;
  margin-left: 180px;

}


.btne button {
  font-size: 80px;
  cursor: pointer;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.btne a {
  color: #273b3a;
}

.btnl button {
  padding: 15px;
  border-radius: 50%;
  font-size: 80px;
  cursor: pointer;
  color: #273b3a;
  width: 150px;
  height: 150px;
}

.btnr button {
  border-radius: 50%;
  font-size: 80px;
  cursor: pointer;
  color: #273b3a;
  width: 150px;
  height: 150px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-family: sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: #bb666598 ;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 24px;
  
  /* Position the tooltip */
  position: absolute;
  bottom: 140px;
  left: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


@media only screen and (max-width: 1000px) {
  .links {
    grid-template-columns: auto auto;
    grid-gap: 20px; 
  }

  .clanding h1{
    text-align: center;
    margin: auto;
    font-size: 30px;
  }
  .navbar img{
    width: 15%;
  }
}


@media only screen and (max-width: 600px) {
  .links {
    grid-template-columns: auto;
    grid-gap: 25px; 
  }

  .clanding h1{
    text-align: center;
    margin: auto;
    font-size: 30px;
  }
  .navbar img{
    width: 15%;
  }
}
